.toptop {
    width: 100%;
    background-color: #ffffff;
    border: #cccccc 1px solid;
}

.topnav {
    overflow: hidden;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    
}

.topnav a.right {
    float: right;
    color: black;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color:#4aaaa5;
    color: #ffffff;
}

.name {
    background-color: #4aaaa5;
    float: left;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
}

@media screen and (max-width: 640px) {
    .column{
        background-color: #4aaaa5;
}

}

h2, h3 {
    color: #4aaaa5;
    margin-left: 20px;
}

.main { 
    background-color: #ffffff;
    width: 960px;
    height: auto;
    margin-top: 30px;
    border: 1px solid #dddddd;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.mainindex { 
    background-color: #ffffff;
    width: 960px;
    height: auto;
    margin-top: 30px;
    border: 1px solid #dddddd;
    margin-left: auto;
    margin-right: auto;
}

.box {
    margin-bottom: 50px;
}

.main ::after {
    content: "";
    display: block;
    clear: both;
}

.profile {
    width: 170px;
    height: 170px;
    margin-right: 15px;
    margin-left: 15px;
    float: left;
}

.paragraph {
    padding: 0 10px 10px 10px;
}

body {

    background-image: url("../images/beanstalk.png");
    background-repeat: repeat;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
}

.box1, .box2, .box3, .box4, .box5 {
    width: 200px;
    height: 200px;
}

.boxleft, .boxright {
    position: relative;
    float: left;
    width: 33.33%;
    padding-left: 50px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.hangman, .triviagame, .rockpaper, .rpggame, .infowidget {
    position: relative;
    text-align: center;
    color: white;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.hang, .trivia, .rock, .rpg, .info {
    position: absolute;
    top: 150px;
    width: 92%;
    color: #ffffff;
    background-color: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 10px;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#name, #email, #message {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-left: 20px; 
}

#message {
    height: 200px;
}

input[type=submit] {
    background-color:  #4aaaa5;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

input[type=submit]:hover {
    background-color:  white;
    color: #4aaaa5;
}

 label {
    margin-left: 30px
}